<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bkav.mymusic">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Music"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
         <provider
             android:authorities="com.bkav.provider"
             android:name="FavoriteSongsProvider"/>
        <activity
            android:name=".ActivityMusic"
            android:label="Music"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".MediaPlaybackService">
            <intent-filter>
                <action android:name="xxx.yyy.zzz.ACTION_PLAY" />
                <action android:name="xxx.yyy.zzz.ACTION_PERVIOUS" />
                <action android:name="xxx.yyy.zzz.ACTION_NEXT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>